body {
    background-color: #ffffff;
    margin: 0;
    font-family: sans-serif;
}

.mobile-nav .dropdown {
    position: relative !important;
}

.mobile-nav.hidden {
    display: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    color: #999999;
    background-color: #292929;
    border-color: #101010;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}

.desktop-header {
    height: 50px;
}

.mobile-header {
    max-height: 100vh;
    overflow: auto;
}

.mobile-header .show-nav {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
}

.mobile-header .show-nav.active {
    color: #ffffff;
    background-color: #2266ff;
}

.mobile-header .show-nav p {
    margin: 0;
    padding: 0 1em;
}

.carat {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top-color: currentcolor;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

nav {
    background-color: #292929;
}

.desktop-nav {
    margin: 0 auto;
    height: 100%;
}

.nav-wrapper {
    background-color: #292929;
}

.nav-wrapper ul {
    padding: 0;
    list-style-type: none;
}

.nav-wrapper > ul {
    margin: 0;
}

.desktop-nav-wrapper > ul {
    display: flex;
    height: 100%;
}

.mobile-header .show-nav,
.nav-wrapper > ul > li {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.desktop-nav-wrapper > ul > li {
    margin: 0;
    text-align: center;
}

.nav-wrapper > ul > li:hover,
.nav-wrapper > ul > li .dropdown-active {
    color: #ffffff;
    background-color: #2266ff;
}

.desktop-nav-wrapper > ul > li:hover,
.desktop-nav-wrapper > ul > li .dropdown-active {
    border-color: #2266ff;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    margin-bottom: -1px;
}

.nav-wrapper > ul > li .button-wrapper {
    cursor: pointer;
}

.desktop-nav-wrapper > ul > li .button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.desktop-nav-wrapper > ul > li .button-wrapper p {
    margin: 0;
    padding: 0 1em;
    white-space: nowrap;
}

.mobile-nav-wrapper > ul > li .button-wrapper p {
    margin: 0;
    padding: 1em;
    white-space: nowrap;
}

.nav-wrapper > ul > li .nav-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.mobile-nav .nav-item > div {
    display: block !important;
}

.desktop-nav-wrapper > ul > li.home-item .button-wrapper p {
    font-weight: lighter;
}

.mobile-nav-wrapper > ul > li.home-item .button-wrapper p {
    font-weight: bold;
}

.nav-wrapper > ul > li.nav-item .button-wrapper p {
    font-weight: bold;
    font-size: smaller;
}

.desktop-nav-wrapper > ul > li .dropdown {
    color: #292929;
    background-color: #ffffff;
    text-align: left;
    min-width: 10em;
    border-bottom: 1px solid #999;
    margin-top: 1px;
}

.mobile-nav-wrapper > ul > li .dropdown {
    color: #cccccc;
    background-color: #404040;
    display: none;
}

.mobile-nav-wrapper > ul > li .dropdown-active {
    display: block;
}

.desktop-nav-wrapper > ul > li .dropdown,
.desktop-nav-wrapper > ul > li ul.dropdown > li.sub-item:last-child p {
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.desktop-nav-wrapper > ul > li .dropdown li.sub-item {
    cursor: pointer;
}

.nav-wrapper > ul > li .dropdown li.sub-item p {
    margin: 0;
    font-size: smaller;
}

.mobile-nav-wrapper > ul > li .dropdown li.sub-item p {
    padding: 0.8em 1em;
}

.desktop-nav-wrapper > ul > li .dropdown li.sub-item p {
    padding: 0.4em 1em;
}

.nav-wrapper > ul > li .dropdown li.sub-item p:hover {
    color: #ffffff;
    background-color: #2266ff;
}

.welcome {
    background-color: #444444;
    background-image: url('/assets/images/full/TorielArtwork.png');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 0;
    height: 100vh;
    max-height: 500px;
}

.welcome .welcome-wrapper {
    padding-top: 51px;
}

.welcome .dimmer {
    opacity: 0.7;
    background-color: #000000;
    color: #ffffff;
}

.welcome .centered {
    margin-left: auto;
    margin-right: auto;
}

.welcome .content {
    padding: 0.5em 1em;
}

.welcome .content h1 {
    font-size: 3em;
}

.welcome .content p {
    padding: 0.5em 0;
    font-size: 1.2em;
}

.welcome .content h1,
.welcome .content p {
    margin: 0;
}

.gallery {
    padding: 1em;
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.gallery .gallery-wrapper {
    margin: 0 auto;
    width: 100%;
}

.gallery .gallery-info {
    margin: 0 1em;
}

.gallery .gallery-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0.5em;
}

.gallery .gallery-column {
    margin: 0 auto;
}

.gallery .gallery-image {
    max-width: 400px;
    margin: 1em 0.5em;
}

.gallery .gallery-image-wrapper {
    padding: 1em;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px #999999;
}

.gallery .gallery-image img {
    display: block;
    width: 100%;
}

footer {
    background-color: #f7f7f7;
}

footer a {
    text-decoration: none;
    color: #00b0ff;
}

footer a:hover {
    color: #5555f0;
}

footer a:active {
    color: #00b0ff;
}

footer .footer-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-column {
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
}

footer .footer-column-wrapper {
    padding: 1em;
}

@media (min-width: 632px) {
    .desktop-nav {
        width: 900px;
    }

    .gallery .gallery-wrapper {
        width: 600px;
    }

    footer .footer-wrapper {
        width: 600px;
    }

    footer .footer-column {
        width: 300px;
    }
}

@media (min-width: 932px) {
    .desktop-nav {
        width: 900px;
    }

    .welcome .centered {
        width: 900px;
    }

    .gallery .gallery-wrapper {
        width: 900px;
    }

    footer .footer-wrapper {
        width: 900px
    }

    footer .footer-column {
        width: 300px;
    }
}

@media (min-width: 1200px) {
    .desktop-nav {
        width: 1170px;
    }

    .welcome .centered {
        width: 1170px;
    }

    .gallery .gallery-wrapper {
        width: 1170px;
    }

    footer .footer-wrapper {
        width: 1170px;
    }

    footer .footer-column {
        width: 390px;
    }
}

